<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/form.css" type="text/css">
    <script src="https://kit.fontawesome.com/d25a039e29.js" crossorigin="anonymous"></script>
    <title>JAL</title>
</head>

<body>
    <nav id="mainNavbar" class="navbar fixed-top">
        <a class="navbar-brand" href="/"><img src="/photo/water.png" alt="" srcset="">JAL</a>
    </nav>
    <% if(error && error.length > 0){ %>
    <div style="margin: 0;" class="alert alert-danger" role="alert">
        <h5><%= error %></h5>
    </div>
    <%} %>
    <% if(success && success.length > 0){ %>
    <div style="margin: 0;" class="alert alert-success" role="alert">
        <h5><%= success %></h5>
    </div>
    <%} %>