<%- include("partials/about/header") %>
<main>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/"><img src="/photo/water.png" alt="" srcset="">JAL</a>
    </nav>
    <div class="section-about">
        <div class="u-center-text u-margin-bottom-big u-margin-top-big">
            <h2 class="heading-secondary">
                About Us
            </h2>
        </div>


        <div class="row">
            <div class="col-1-of-2">
                <h3 class="heading-tertiary u-margin-bottom-small">
                    You are going to fall in love with this nature
                </h3>
                <p class="paragraph">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quas nostrum accusamus laborum
                    adipisci vero distinctio, cupiditate perspiciatis iusto dignissimos nobis vel explicabo aspernatur
                    tempora illum, magni voluptatibus incidunt error.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque nam sed odio vero perspiciatis,
                    laudantium inventore cumque delectus est quasi cupiditate quae. Est velit cumque explicabo
                    reprehenderit beatae sequi unde.
                </p>
                <p>
                    <a class="btn btn-large" href="/">Go Back</a>
                </p>
            </div>
            <div class="col-1-of-2">
                <div class="composition">
                    <img src="/photo/about/water1.jpg" alt="Photo 1" class="composition__photo composition__photo--p1">
                    <img src="/photo/about/water2.jpg" alt="Photo 2" class="composition__photo composition__photo--p2">
                    <img src="/photo/about/water3.jpg" alt="Photo 3" class="composition__photo composition__photo--p3">
                </div>
            </div>
        </div>

    </div>
</main>
<%- include("partials/about/footer") %>