<%- include("partials/about/header") %>
<main>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/"><img src="/photo/water.png" alt="" srcset="">JAL</a>
    </nav>
    <div class="section-about">
        <div class="u-center-text u-margin-bottom-big u-margin-top-big">
            <h2 class="heading-secondary">
                About Us
            </h2>
        </div>


        <div class="row">
            <div class="col-1-of-2">
                <h3 class="heading-tertiary u-margin-bottom-small">
                    You are going to fall in love with this nature
                </h3>
                <p class="paragraph">
                    The main idea behind this app is to make people aware of
                    wastage of water that they do in their daily lives. Pre-paid service stops you and forces you to
                    think twice before irrational use. Amongst all environmental problems water conservation has always
                    been ignored because of lack of awareness and free availability !! But soon half of the population
                    won't be able to get safe drinking water, many parts of South Africa and even in our own nation, top
                    cities like Chennai face water scarcity every year. It's high time now to solve this burning issue
                    and save our thirsty future. We took our step now it's your turn to safeguard the future of your
                    children.
                </p>
                <p>
                    <a class="btn btn-large" href="/">Go Back</a>
                </p>
            </div>
            <div class="col-1-of-2">
                <div class="composition">
                    <img src="/photo/about/water1.jpg" alt="Photo 1" class="composition__photo composition__photo--p1">
                    <img src="/photo/about/water2.jpg" alt="Photo 2" class="composition__photo composition__photo--p2">
                    <img src="/photo/about/water3.jpg" alt="Photo 3" class="composition__photo composition__photo--p3">
                </div>
            </div>
        </div>

    </div>
</main>
<%- include("partials/about/footer") %>