<%- include("partials/form/header") %>

<div class="container">
    <div class="forms-container">
        <div class="signin-signup">
            <form action="/forgot" method="POST" class="sign-in-form">
                <h2 class="title">Forgot Password</h2>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="email" name="email" placeholder="Enter Your Email" autofocus required>
                </div>
                <input type="submit" value="Reset" class="btn solid" />
                <a href="/login">Go Back</a>
            </form>
        </div>
    </div>

    <div class="panels-container">
        <div class="panel left-panel">
            <div class="content">
                <h3>Forgot Password ??</h3>
                <p>
                    Don't worry enter your email and we will help you!!!
                </p>
            </div>
            <img src="/photo/forgot.svg" class="image" alt="" />
        </div>
    </div>
</div>
<%- include("partials/footer") %>