<%- include("partials/header") %>

<section class="container-fluid px-0 content">
    <div class="row align-items-center">
        <div class="col-md-6 order-1 order-md-1">
            <img style="height:750px; width:100%"
                src="https://images.pexels.com/photos/1556381/pexels-photo-1556381.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                class="img-fluid" alt="Responsive image">

        </div>
        <div style="margin-top: 25px;" class="col-md-6 text-center order-2 order-md-2 mb-5 mb-md-0">
            <div class="row justify-content-center">
                <div class="col-10 col-lg-8 blurb">
                    <h1>NAME OF WEBAPP</h1>
                    <!--<i class="fa fa-tint icon" aria-hidden="true"></i> -->
                    <img style="height: 100px; width: 100px;"
                        src="https://toppng.com/uploads/preview/drop-simple-transparentpng-image-water-drop-logo-11562911481murprhiazy.png"
                        alt="" class="d-none d-lg-inline">
                    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, odio. Error
                        veritatis, eveniet culpa nisi excepturi sunt vitae distinctio id facere, vel dolor? Illo,
                        repellendus dolorem iste id rerum quasi! Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Expedita aliquid odio vero praesentium quasi eius dolore adipisci et, doloribus error
                        nisi optio, deleniti neque dolor, sapiente harum cupiditate debitis perferendis.</p>
                    <button class="btn btn-large"><a href="#"></a> Read More -> </button>
                </div>
            </div>
        </div>
    </div>
</section>

<section style="margin-top: 30px;">
    <div class="container">
        <div class="box-area">
            <div class="single-box">
                <div class="image-area"></div>
                <div class="image-text">
                    <span class="header-text">
                        <h1><strong>Plans</strong></h1>
                    </span>
                    <h3><i class="fas fa-rupee-sign"></i> 499 - 150 ltr/day</h3>
                    <h5>Benefits: Unlimited 4500 litre of water(150 ltr/day) for 30 days. </h5>
                    <a class="btn btn-group-lg btn-success" href="#">BUY</a>
                </div>
            </div>
            <div class="single-box">
                <div class="image-area"></div>
                <div class="image-text">
                    <span class="header-text">
                        <h1><strong>Plans</strong></h1>
                    </span>
                    <h3><i class="fas fa-rupee-sign"></i> 599 - 200 ltr/day</h3>
                    <h5>Benefits: Unlimited 6000 litre of water(200 ltr/day) for 30 days. </h5>
                    <a class="btn btn-group-lg btn-success" href="#">BUY</a>
                </div>
            </div>
            <div class="single-box">
                <div class="image-area"></div>
                <div class="image-text">
                    <span class="header-text">
                        <h1><strong>Plans</strong></h1>
                    </span>
                    <h3><i class="fas fa-rupee-sign"></i> 399 - 100 ltr/day</h3>
                    <h5>Benefits: Unlimited 3000 litre of water(100 ltr/day) for 30 days. </h5>
                    <a class="btn btn-group-lg btn-success" href="#">BUY</a>
                </div>
            </div>
            <div class="single-box">
                <div class="image-area"></div>
                <div class="image-text">
                    <span class="header-text">
                        <h1><strong>Plans</strong></h1>
                    </span>
                    <h3><i class="fas fa-rupee-sign"></i> 2394 - 100 ltr/day</h3>
                    <h5>Benefits: Unlimited 18000 litre of water(100 ltr/day) for 180 days. </h5>
                    <a class="btn btn-group-lg btn-success" href="#">BUY</a>
                </div>
            </div>
            <div class="single-box">
                <div class="image-area"></div>
                <div class="image-text">
                    <span class="header-text">
                        <h1><strong>Plans</strong></h1>
                    </span>
                    <h3><i class="fas fa-rupee-sign"></i> 2994 - 150 ltr/day</h3>
                    <h5>Benefits: Unlimited 27000 litre of water(150 ltr/day) for 180 days. </h5>
                    <a class="btn btn-group-lg btn-success" href="#">BUY</a>
                </div>
            </div>
            <div class="single-box">
                <div class="image-area"></div>
                <div class="image-text">
                    <span class="header-text">
                        <h1><strong>Plans</strong></h1>
                    </span>
                    <h3><i class="fas fa-rupee-sign"></i> 3594 - 200 ltr/day</h3>
                    <h5>Benefits: Unlimited 36000 litre of water(200 ltr/day) for 180 days. </h5>
                    <a class="btn btn-group-lg btn-success" href="/pay">BUY</a>
                </div>
            </div>
        </div>
    </div>
</section>





<%- include("partials/footer") %>