<%- include("partials/header") %>

<section class="container-fluid px-0 content">
    <div class="row align-items-center">
        <div class="col-md-6 order-1 order-md-1">
            <img style="height:750px; width:100%"
                src="https://images.pexels.com/photos/1556381/pexels-photo-1556381.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                class="img-fluid" alt="Responsive image">

        </div>
        <div style="margin-top: 25px;" class="col-md-6 text-center order-2 order-md-2 mb-5 mb-md-0">
            <div class="row justify-content-center">
                <div class="col-10 col-lg-8 blurb">
                    <h1>JAL</h1>
                    <!--<i class="fa fa-tint icon" aria-hidden="true"></i> -->
                    <img style="height: 100px; width: 100px;" src="/photo/water.png" alt="" class="d-none d-lg-inline">
                    <p class="lead"> Amidst the ongoing ecological crisis, new amendments must be brought to bring in
                        change. It's the
                        duty of youth to bring out such innovations that will provide better life ahead to us and our
                        children. Hence we bring you the 'JAL' App, which brings the world a step closer to a better and
                        hydrating future. This easy to use app is a boon that makes you aware of the irrational water
                        uses
                        and in turn provides water to those who need. It provides pre-paid water services, like any
                        other
                        pre-paid product which one can avail by sitting at home. This provides long term and short term
                        plans that may please everybody's pocket.</p>
                    <a class="btn" href="/about">Read More -></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-tours">
    <!-- <div class="u-center-text u-margin-bottom-big ">
           <h2 class="heading-secondary">
               Plans
           </h2>
       </div> -->

    <div class="rowa">
        <div class="col-1-of-3">
            <div class="card">
                <div class="card__side card__side--front">
                    <div class="card__picture card__picture--1">
                        &nbsp;
                    </div>
                    <h4 class="card__heading">
                        <span class="card__heading-span card__heading-span--1">Plans</span>

                    </h4>
                    <div class="card__details">
                        <ul>
                            <li class="first">150 Litre/Day</li>
                            <li>Unlimited 4500 litres of water (150 ltr/day) for 30 days</li>
                        </ul>
                    </div>

                </div>
                <div class="card__side card__side--back card__side--back-1">
                    <div class="card__cta">
                        <div class="card__price-box">
                            <p class="card__price-only">Only</p>
                            <p class="card__price-value"> <i class="fas fa-rupee-sign    "> 499</i> </p>
                        </div>
                        <a href="/pay" class="btn btn--white btn-animated">Pay now!</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1-of-3">
            <div class="card">
                <div class="card__side card__side--front">
                    <div class="card__picture card__picture--2">
                        &nbsp;
                    </div>
                    <h4 class="card__heading">
                        <span class="card__heading-span card__heading-span--2">Plans</span>

                    </h4>
                    <div class="card__details">
                        <ul>
                            <li class="first">200 Litre/Day</li>
                            <li>Unlimited 6000 litres of water(200 ltr/day) for 30 days</li>
                        </ul>
                    </div>

                </div>
                <div class="card__side card__side--back card__side--back-2">
                    <div class="card__cta">
                        <div class="card__price-box">
                            <p class="card__price-only">Only</p>
                            <p class="card__price-value"><i class="fas fa-rupee-sign    "> 599</i> </p>
                        </div>
                        <a href="/pay" class="btn btn--white btn-animated">Pay now!</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-1-of-3">
            <div class="card">
                <div class="card__side card__side--front">
                    <div class="card__picture card__picture--3">
                        &nbsp;
                    </div>
                    <h4 class="card__heading">
                        <span class="card__heading-span card__heading-span--3">Plans</span>

                    </h4>
                    <div class="card__details">
                        <ul>
                            <li class="first">100 Litre/Day</li>
                            <li>Unlimited 3000 litres of water (100 ltr/day) for 30 days</li>
                        </ul>
                    </div>

                </div>
                <div class="card__side card__side--back card__side--back-3">
                    <div class="card__cta">
                        <div class="card__price-box">
                            <p class="card__price-only">Only</p>
                            <p class="card__price-value"> <i class="fas fa-rupee-sign    "> 399</i> </p>
                        </div>
                        <a href="/pay" class="btn btn--white btn-animated">Pay now!</a>
                    </div>
                </div>
            </div>
        </div>


    </div>




</section>

<section class="sectiona-tours">
    <!-- <div class="u-center-text u-margin-bottom-big ">
            <h2 class="heading-secondary">
                Plans
            </h2>
        </div> -->

    <div class="rowa">
        <div class="col-1-of-3">
            <div class="card">
                <div class="card__side card__side--front">
                    <div class="card__picture card__picture--1">
                        &nbsp;
                    </div>
                    <h4 class="card__heading">
                        <span class="card__heading-span card__heading-span--1">Plans</span>

                    </h4>
                    <div class="card__details">
                        <ul>
                            <li class="first">100 Litre/Day</li>
                            <li>Unlimited 18000 litres of water (100 ltr/day) for 180 days</li>
                        </ul>
                    </div>

                </div>
                <div class="card__side card__side--back card__side--back-1">
                    <div class="card__cta">
                        <div class="card__price-box">
                            <p class="card__price-only">Only</p>
                            <p class="card__price-value"><i class="fas fa-rupee-sign    "> 2394</i></p>
                        </div>
                        <a href="/pay" class="btn btn--white">Pay now!</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1-of-3">
            <div class="card">
                <div class="card__side card__side--front">
                    <div class="card__picture card__picture--2">
                        &nbsp;
                    </div>
                    <h4 class="card__heading">
                        <span class="card__heading-span card__heading-span--2">Plans</span>

                    </h4>
                    <div class="card__details">
                        <ul>
                            <li class="first">150 Litre/Day</li>
                            <li> Unlimited 27000 litres of water(150 ltr/day) for 180 days.</li>
                        </ul>
                    </div>

                </div>
                <div class="card__side card__side--back card__side--back-2">
                    <div class="card__cta">
                        <div class="card__price-box">
                            <p class="card__price-only">Only</p>
                            <p class="card__price-value"><i class="fas fa-rupee-sign    "> 2994</i> </p>
                        </div>
                        <a href="/pay" class="btn btn--white">Pay now!</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-1-of-3">
            <div class="card">
                <div class="card__side card__side--front">
                    <div class="card__picture card__picture--3">
                        &nbsp;
                    </div>
                    <h4 class="card__heading">
                        <span class="card__heading-span card__heading-span--3">Plans</span>

                    </h4>
                    <div class="card__details">
                        <ul>
                            <li class="first">200 Litre/Day</li>
                            <li>Unlimited 36000 litres of water(200 ltr/day) for 180 days.</li>
                        </ul>
                    </div>

                </div>
                <div class="card__side card__side--back card__side--back-3">
                    <div class="card__cta">
                        <div class="card__price-box">
                            <p class="card__price-only">Only</p>
                            <p class="card__price-value"><i class="fas fa-rupee-sign    "> 3594</i> </p>
                        </div>
                        <a href="/pay" class="btn btn--white">Pay now!</a>
                    </div>
                </div>
            </div>
        </div>


    </div>




</section>





<%- include("partials/footer") %>