<%- include("partials/form/header") %>

<div class="container">
    <div class="forms-container">
        <div class="signin-signup">
            <form action="/reset/<%= token %>" method="POST" class="sign-in-form">
                <h2 class="title">Reset Password</h2>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="password" name="password" placeholder="New Password" autofocus required>
                </div>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="password" name="confirm" placeholder="Confirm Password" required>
                </div>
                <input type="submit" value="Update" class="btn solid" />
            </form>
        </div>
    </div>

    <div class="panels-container">
        <div class="panel left-panel">
            <div class="content">
                <h3>Reset Password</h3>
                <p>
                    Enter the new password and we will update your new password
                </p>
            </div>
            <img src="/photo/reset.svg" class="image" alt="" />
        </div>
    </div>
</div>
<%- include("partials/footer") %>