<%- include("partials/water/header") %>
<div class="about-section">
    <div class="inner-container">
        <div class="about">
            <h1 id="heading">Importance Of Water</h1>
            <p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit velit tempora
                libero saepe earum, ipsum optio quo, nemo dolorum autem suscipit illum iste maiores ratione ducimus
                non facilis ex praesentium?
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti deserunt placeat asperiores aut
                omnis suscipit illum iusto rem, at dolores iure, provident, soluta minima perferendis iste
                exercitationem quaerat quasi alias.
                <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique voluptate, vero, placeat
                accusamus quis, reiciendis hic maxime temporibus eveniet laborum fuga eligendi eum expedita delectus
                quaerat repudiandae non alias quisquam?
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat nemo magni, asperiores rerum quasi
                optio, praesentium repudiandae consectetur ab modi ut saepe doloribus veniam distinctio ipsum
                commodi enim veritatis? Ullam.
                <br>
            </p>
            <a class="btn" href="/">Go Back </a>
        </div>
    </div>
</div>
<%- include("partials/water/footer") %>